body {
    margin: 0; 
    background-color: #000000;
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.25;
    z-index: -9999;
}

a, a:visited {
    color: #FFFFFF;
}

a:hover, a:active {
    color: #50D1FF;
}

.red-glow  {
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ffb700; 
}

#header {
    margin-top: 60px;
}

#header .title {
    color: #FFFFFF;
    text-shadow: 0px 0px 5px #0090ff, 0px 0px 5px #0090ff, 0px 0px 5px #0090ff; 
    text-align: center;
    font-family: 'Helvetica Neue', 'Ubuntu Condensed', '&#24494;&#36575;&#27491;&#40657;&#39636;', '微軟正黑體','Microsoft JhengHei', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 7.77px;
}

#slogan {
    margin-top: 20px;
    text-align: center;
}

#slogan .text {
    display:inline-block;
    text-shadow: 0px 0px 5px #0090ff, 0px 0px 5px #0090ff; 
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1.66px;
    line-height: 24px;
    margin-bottom: 4px;
    width: 800px;
}

#slogan .line {
    margin: 0 auto;
    height: 3px;
    width: 900px;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, #50D1FF 50%, rgba(0,0,0,0.5) 100%);
    background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, #50D1FF 50%, rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0.5) 0%, #50D1FF 50%, rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, #50D1FF 50%, rgba(0,0,0,0.5) 100%);
}

#content {
    margin: 30px auto;
    width: 798px;
    text-shadow: 0px 0px 5px #0090ff; 
    font-family: 'Helvetica Neue', 'Open Sans', 'Ubuntu Condensed', '微軟正黑體','Microsoft JhengHei', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
    position: relative;
    z-index: 2;
    background: url(../img/content_head.png) top left no-repeat,
                url(../img/content_foot.png) bottom left no-repeat;
}

#content:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 167px;
    right: 0;
    bottom: 152px;
    left: 0;
    background: url(../img/content_body.png) top left repeat-y;
}

#content .text {
    padding: 50px 125px 30px 100px;
}

#content .text h4 {
    font-size: 16px;
    margin: 0;
}

#content .text p, ul {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 25px;
    margin: 0;
}

#content .text ul {
    padding-left: 20px;
}

#content .reg {
    color: #50D1FF;
}

#footer {
    margin: -10px auto 20px;
    padding-left: 140px;
    width: 798px;
    text-shadow: 0px 0px 5px #0090ff; 
    font-family: 'Helvetica Neue', 'Open Sans', 'Ubuntu Condensed', '&#24494;&#36575;&#27491;&#40657;&#39636;', '微軟正黑體','Microsoft JhengHei', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
}

#footer td img {
    height: 33px;
    margin-right: 20px;
}

#footer th {
    text-align: left;
}

